name: Filter IPTV Playlist

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    
    # ADDED: Explicitly grant write permission to the GITHUB_TOKEN for contents
    permissions:
      contents: write 

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Python dependencies
      run: pip install requests

    - name: Run Filter Script
      run: python scripts/filter.py

    - name: Commit and Push Changes
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add playlist1.m3u
        git commit -m "Updated playlist1.m3u" || echo "No changes to commit"
        git push
